.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url('../../assets/Images/ongrass.png');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* media query */

@media screen and (max-width: 850px) {

    .hero{
        height: 80vh;
    }

    h1{
        font-size: 40px;
    }
}
@media screen and (max-width: 650px) {
    h1{
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    p{
        font-size: 14px;
        margin: 15px auto 30px;
    }
}